<div >
  <section style="display: flex;">
    <div class="container-fluid" style="margin-bottom: 50px; margin-top: 20px;">
      <div class="block-header">
      </div>
      <div class="row clearfix">
        <div class="col-xs-6 col-sm-12 col-md-12 col-lg-12">
          <div class="card">
            <div class="header" style="text-align: center;padding: 20px; display: flex;justify-content: center;">
              <h1>
                <strong> Recharge Airtime</strong>
              </h1>
            </div>
            <div class="body" style="padding: 15px; ">
              <div class="demo">
                <div class="container">
                  <p>recharges content</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>






