
<div class="container">
  <div class="card" >
    <div class="card-body">
      <div class="checkout sec-padding">
        <div fxLayout="row wrap" class="">
          <div class="billing-details  pr-15" fxFlex="100" fxFlex.gt-md="50" fxFlex.md="50">
            <div class="header-title" style="text-align: center;">
              <h2>Informations </h2>
              <hr>
            </div>

            <form fxLayout="row wrap" [formGroup]="userInfoForm">
              <div  fxFlex="100" fxFlex.gt-sm="100" class="mt-20" ngClass.sm="mt-10" ngClass.xs="mt-10">
                <mat-form-field class="w-100">
                  <input matInput placeholder="Nom" ngModel formControlName="lastName" required>
                  <mat-error *ngIf="userInfoForm.get('lastName').hasError('required')">Veuillez saisir votre nom</mat-error>
                </mat-form-field>
              </div>
              <div fxFlex="100" fxFlex.gt-sm="100" class="mt-20" ngClass.sm="mt-10" ngClass.xs="mt-10">
                <mat-form-field class="w-100">
                  <input matInput placeholder="Prenom" ngModel formControlName="firstName" required>
                  <mat-error *ngIf="userInfoForm.get('firstName').hasError('required')">Veuillez saisir votre prenom</mat-error>
                </mat-form-field>
              </div>
              <div  fxFlex="100" fxFlex.gt-sm="100" class="mt-20" ngClass.sm="mt-10" ngClass.xs="mt-10">
                <mat-form-field class="w-100">
                  <input matInput placeholder="Adresse" ngModel formControlName="address" required>
                  <mat-error *ngIf="userInfoForm.get('address').hasError('required')">Veuillez saisir votre adresse</mat-error>
                </mat-form-field>
              </div>
              <div  fxFlex="100" fxFlex.gt-sm="100" class="mt-20" ngClass.sm="mt-10" ngClass.xs="mt-10">
                <mat-form-field class="w-100">
                  <input matInput placeholder="Region/Ville" ngModel formControlName="city">
                  <mat-error *ngIf="userInfoForm.get('city').hasError('required')">Veuillez saisir votre localité</mat-error>
                </mat-form-field>
              </div>
              <div fxFlex="100" fxFlex.gt-sm="100" class="mt-20" ngClass.sm="mt-10" ngClass.xs="mt-10">
                <mat-form-field class="w-100">
                  <input matInput placeholder="Email" ngModel formControlName="email" required>
                  <mat-error *ngIf="userInfoForm.get('email').hasError('required')">Veuillez saisir votre email</mat-error>
                  <mat-error *ngIf="userInfoForm.get('email').hasError('email')">Veuillez saisir un email correct</mat-error>
                </mat-form-field>
              </div>
              <div fxFlex="100" fxFlex.gt-sm="100" class="mt-20" ngClass.sm="mt-10" ngClass.xs="mt-10">
                <mat-form-field class="w-100">
                  <input matInput placeholder="Telephone" ngModel formControlName="phone" required>
                  <mat-error *ngIf="userInfoForm.get('phone').hasError('required')">Veuillez saisir votre numero de téléphone</mat-error>
                </mat-form-field>
              </div>
            </form>
          </div>
          <div class="mainOrder-wrapper pl-15" fxFlex="100" fxFlex.gt-md="50" fxFlex.md="50" >
            <div class="main-order " style="border-color: #f96c00;">
              <div class="order-box" >
                <div class="title-box">
                  <div>Produit <span class="tl-amount"> Total</span></div>
                </div>
                <ul class="price-list" *ngIf='buyProducts.length'>
                  <li *ngFor="let item of buyProducts">
                    <div style="display: contents;" *ngIf='!item.forfaitTelephone.forfait'>
                      {{ item.forfaitTelephone.product.name }} × {{ item.quantity }}
                    </div>
                    <div style="display: contents;" *ngIf='item.forfaitTelephone.forfait'>
                      {{ item.forfaitTelephone.product.name }} avec forfait {{item.forfaitTelephone.forfait.nom}} × {{ item.quantity }}
                    </div>
                    <!-- <p *ngIf='item.forfaitTelephone.forfait'> avec forfait {{item.forfaitTelephone.forfait.nom}}</p> -->

                    <span *ngIf="(!item.forfaitTelephone.forfait||(item.forfaitTelephone.forfait&&item.forfaitTelephone.forfait.typePrePostPaid !== 'prePaid'))">
                       {{ item.forfaitTelephone.product.salePrice * item.quantity | currency:productService?.currency:'symbol' }}
                    </span>
                    <span *ngIf="(item.forfaitTelephone.forfait && item.forfaitTelephone.forfait.typePrePostPaid === 'prePaid')">
                          {{ (item.forfaitTelephone.product.salePrice + item.forfaitTelephone.forfait.montant) * item.quantity | currency:productService?.currency:'symbol' }}
                    </span>

                  </li>
                </ul>
                <ul class="quantity" *ngIf='buyProducts.length <= 0'>
                  <li class="empty-checkout"> Votre panier est vide </li>
                </ul>
                <ul class="total-amount">
                  <li>
                    Sous total 
                    <span class="amount">{{ getTotal() | async | currency:productService?.currency:'symbol'}}</span>


                  </li>
                  <!-- <li *ngIf='buyProducts.length'>
                    Livraison
                   <div class="shipping">
                      <div class="shopping-option">
                        <mat-radio-group>
                          <mat-radio-button *ngFor="let payment of payments" [value]="payment">{{payment}}</mat-radio-button>
                        </mat-radio-group>
                      </div>

                   </div>
                  </li> -->
                </ul>
                <ul class="total">
                  <li>Total 
                    <span class="count">{{ getTotal() | async | currency:productService?.currency:'symbol'}}</span>
                  </li>
                </ul>
                <div class="paymentFinal">
                  <mat-radio-group [(ngModel)]="selectedPaymentWay">
                    <mat-radio-button fxLayout="column" *ngFor="let payment of paymantWay" [value]="payment">{{payment}}
                    </mat-radio-button>
                  </mat-radio-group>
                </div>
                <div class="order" style="text-align: center;">
                  <button *ngIf="userInfoForm.valid && selectedPaymentWay" class="btn-project" mat-raised-button color="primary" type="submit" style="width: 100%;background: green;" (click)="sendTransaction()">COMMANDER</button>
                </div>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>
